{% load staticfiles %}
<!DOCTYPE html>
<html  class="no-js" lang="fa" dir="rtl">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.rawgit.com/rastikerdar/vazir-font/v21.0.1/dist/font-face.css" rel="stylesheet" type="text/css" />


    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.0.0/css/bootstrap.min.css" integrity="sha384-P4uhUIGk/q1gaD/NdgkBIl3a6QywJjlsFJFk7SPRdruoGddvRVSwv5qFnvZ73cpz" crossorigin="anonymous">
    <script src="https://cdn.rtlcss.com/bootstrap/v4.0.0/js/bootstrap.min.js" integrity="sha384-54+cucJ4QbVb99v8dcttx/0JRx4FHMmhOWi4W+xrXpKcsKQodCBwAvu3xxkZAwsH" crossorigin="anonymous"></script>


    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script src='https://www.google.com/recaptcha/api.js'></script>

    <link rel="stylesheet" href="/static/style.css">




    <title> مشاوره مهندس شهبازی </title>
</head>
<body>





<!---------END Template------------------>




<div class="bg-img welcome" >
    <div class="container" >

        <div class="row" style="padding-bottom: 20%;">


            <div class="col-12 col-md-7" style="margin-top: 5%;">
                <div class="intro">
                    <h1> سامانه مشاوره مهندس شهبازی</h1>
                    <h4> مدیریت فعالیت دانش آموزان </h4>
                    <ul style="padding: 5%;">
                        <li> ثبت مطالعه روزانه</li>
                        <li> گزارش فعالیت هفتگی  </li>
                        <li>مشاهده و بررسی نتایح آزمون ها</li>
                        <li>...</li>
                    </ul>
                </div>
            </div>

            <div class="col-12 col-md-5 card shadowcard" id="cardlogin" style="margin-top: 5%;" >

                <ul class="nav nav-links nav-tabs nav-fill" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active curvedtopright" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="false">ورود</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link curvedtopleft" id="signup-tab" data-toggle="tab" href="#signup" role="tab" aria-controls="signup" aria-selected="true">ثبت نام</a>
                    </li>


                </ul>

                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane " id="signup" role="tabpanel" aria-labelledby="signup-tab">

                            <form id="form-signup">

                                <div class="form-group">
                                    <input name="fullname" type="text" id="fullname" class="form-control" aria-describedby="fullname"  placeholder="نام و نام خانوادگی خود را وارد کنید" required autofocus>
                                </div>

                                <div class="form-group">
                                    <input name="phonenumber" type="text" id="phonenumber" class="form-control" aria-describedby="phonenumber"  placeholder="شماره تلفن همراه خود را وارد کنید" required autofocus pattern="09[0-9]{9}" maxlength="12">
                                    <small id="phonenumberhelp" class="form-text text-muted">شماره تلفن همراه باید به فرمت 09xxxxxxxxx باشد</small>
                                </div>


                                <div class="form-group">
                                    <input name="parentphonenumber" type="text" id="parentphonenumber" class="form-control" aria-describedby="phonenumber"  placeholder="شماره تلفن همراه والدین خود را وارد کنید" required autofocus pattern="09[0-9]{9}" maxlength="12">
                                    <small id="parentphonenumberhelp" class="form-text text-muted">شماره تلفن همراه باید به فرمت 09xxxxxxxxx باشد</small>
                                </div>

                                <div class="form-group input-group mb-3">

                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="inputGroupSelect01">مقطع و رشته تحصیلی</label>
                                    </div>

                                    <select name="grade" class="custom-select" id="inputGroupSelect01">
                                        <option selected>انتخاب کنید...</option>
                                        <option value="10r">دهم ریاضی</option>
                                        <option value="10t">دهم تجربی</option>
                                        <option value="10e">دهم انسانی</option>

                                        <option value="11r">یازدهم ریاضی</option>
                                        <option value="11t">یازدهم تجربی</option>
                                        <option value="11e">یازدهم انسانی</option>

                                        <option value="12r">دوازدهم ریاضی</option>
                                        <option value="12t">دوازدهم تجربی</option>
                                        <option value="12e">دوازدهم انسانی</option>
                                    </select>
                                </div>





                                <div class="form-group">
                                    <input name="password" type="password" onkeyup='check();' id="password" class="form-control" placeholder="گذرواژه خود را وارد کنید" required>
                                </div>

                                <div class="form-group">
                                    <input type="password" onkeyup='check();' id="againpassword" class="form-control" placeholder="گذرواژه خود را مجددا وارد کنید" required>
                                </div>

                                <div class="form-group"><div class="g-recaptcha" data-sitekey="6LeaTUQUAAAAAM-Bp5PDrcUxwELmEV0NhChpGJfQ"></div> </div>

                                <button id="regbutton" class="btn   btn-sm btn-primary btn-block" type="submit" id="load" data-loading-text="<i class='fa fa-spinner fa-spin '></i> در حال ثبت نام">ثبت نام</button>
                            </form>

                        </div>
                        <div class="tab-pane active" id="login" role="tabpanel" aria-labelledby="login-tab">
                            <form id="form-signin">
                                <div class="form-group">
                                    <label for="usernamelogin" >شماره تلفن همراه</label>
                                    <input name="username" type="text" id="usernamelogin" class="form-control" aria-describedby="inputUsername" placeholder="شماره تلفن همراه خود را وارد کنید" required autofocus>
                                    <small id="emailHelp" class="form-text text-muted">شماره تلفن همراه شما در سایت قابل مشاهده نیست!</small>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword" >گذرواژه</label>
                                    <input name="password" type="password" id="inputPassword" class="form-control" placeholder="گذرواژه خود را وارد کنید" required>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="remember-me"> مرا به خاطرت نگه دار!
                                    </label>
                                </div>


                                <button class="btn  btn-sm btn-success btn-block" type="submit">ورود</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">

        </div>
    </div>

</div>


<div class="container-fluid" style="background-color:gainsboro">
    <div class="row">

        <div class="col-md-3"></div>

        <div class="col-md-6 col-xs-12">

            <div class="card resume" >
                <div class="card-body">
                    <div class="text-center">
                        <img src="/static/images/shahbazi.jpg"  class="img-thumbnail mx-auto d-block" style="width: 25% ; border-radius: 50%;">
                        <h4 style="padding-top: 4%;">مهندس پیمان شهبازی</h4>
                    </div>
                    <hr class="line" />
                    <div class="row">
                        <div class="col-12">
                            <div class="card bg-card" >
                                <div class="card-body">
                                    <div class="text-center">
                                        <h5>ارتباط با مهندس شهبازی</h5>
                                    </div>
                                    <div class="row" style="padding-top: 3%;">
                                        <div class="col">
                                            <div class="text-center">
                                                <p>کانال تلگرامی</p>
                                                <p>‌<a href="https://t.me/peyman_shahbazi_20"><i class="fa fa-telegram fa-lg"> </i></a></p>
                                            </div>
                                        </div>

                                        <div class="col">
                                            <div class="text-center">
                                                <p>مدیر برنامه</p>
                                                <p>‌<a href="tel:+989057806106"><i class="fa fa-phone fa-lg"> </i></a></p>
                                            </div>
                                        </div>

                                        <div class="col">
                                            <div class="text-center">
                                                <p>ادمین کانال</p>
                                                <p>‌<a href="https://t.me/peyman_shahbazi2"><i class="fa fa-envelope fa-lg"> </i></a></p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="line" />


                    <div class="row">
                        <div class="col-12">
                            <i class="fa fa-trophy fa-lg"></i><b>  دستاورد ها</b>
                            <ul>
                                <li>رتبه ۲۶ کنکور سراسری ۱۳۸۹</li>
                                <li>رتبه ۹ کنکور کارشناسی ارشد سال ۱۳۹۵</li>
                                <li>مدال طلای مسابقات جهانی ریاضی بلغارستان ۲۰۱۵</li>
                                <li>دو مدال نقره ی مسابقات کشوری ریاضی در سال ۹۲ و ۹۳</li>
                            </ul>

                            <i class="fa fa-graduation-cap fa-lg"></i><b>   تحصیلات </b>
                            <ul>
                                <li>فارغ التحصیل دبیرستان استعداد های درخشان در سال ۸۹</li>
                                <li>مدرک کارشناسی در رشته ریاضی محض</li>
                                <li>مدرک کارشناسی در رشته برق</li>
                                <li>ورودی دانشگاه صنعتی شریف و فارغ‌التحصیل دانشگاه صنعتی اصفهان </li>
                                <li>مدرک کارشناسی ارشد ریاضیات و کاربرد ها (دانشگاه صنعتی اصفهان) </li>
                                <li>عضو بنیاد ملی نخبگان</li>

                            </ul>


                            <i class="fa fa-calendar-check-o fa-lg"></i><b>   سوابق </b>
                            <ul>
                                <li>شش سال سابقه مشاوره تحصیلی کنکور سراسری رتبه های برتر کشور</li>
                                <li>هفت سال سابقه تدریس در مدارس استعداد های درخشان و دیگر مدارس برتر استان</li>


                            </ul>

                        </div>


                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="col-md-3"></div>

</div>

<div class="container-fluid">
    <div class="row" style="padding-top: 3%;">
        <div class="col-12">
            <div class="text-center">
                <h3>نتایج سال های گذشته</h3>
            </div>
            <hr class="line" />
        </div>

    </div>


    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <h5>نفرات برتر کنکور ۹۸</h5>
            </div>
        </div>
        <div class="col-md-3 col-xs-12">
            <div class="text-center shadow" style="padding: 3%;">
                <img src="/static/images/sharbaf.jpg"  class="img-thumbnail mx-auto d-block" style="width: 35% ; border-radius: 50%;">
                <h5 style="padding-top: 4%;">امیرحسین شعرباف چی زاده</h5>
                <h6> ۳۱ تجربی </h6>
            </div>
            <hr class="line" />
        </div>

        <div class="col-md-3 col-xs-12">
            <div class="text-center shadow" style="padding: 3%;">
                <img src="/static/images/riyahi.jpg"  class="img-thumbnail mx-auto d-block" style="width: 35% ; border-radius: 50%;">
                <h5 style="padding-top: 4%;">آرمان ریاحی</h5>
                <h6> ۹۶ تجربی </h6>
            </div>
            <hr class="line" />
        </div>

        <div class="col-md-3 col-xs-12">
            <div class="text-center shadow" style="padding: 3%;">
                <img src="/static/images/kasra.jpg"  class="img-thumbnail mx-auto d-block" style="width: 35% ; border-radius: 50%;">
                <h5 style="padding-top: 4%;">کسری امانی</h5>
                <h6> ۵۰ ریاضی </h6>
            </div>
            <hr class="line" />
        </div>

        <div class="col-md-3 col-xs-12">
            <div class="text-center shadow" style="padding: 3%;">
                <img src="/static/images/default.png"  class="img-thumbnail mx-auto d-block" style="width: 35% ; border-radius: 50%;">
                <h5 style="padding-top: 4%;">امیرحسین گلشیرازی</h5>
                <h6> ۵۲ ریاضی </h6>
            </div>
            <hr class="line" />
        </div>
    </div>




       <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="card shadow">
                <div class="card-header">
                    <div class="text-center">
                        <h5>سال ۹۸ - رشته ریاضی</h5>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <th>امیرحسین گل شیرازی</th>
                                <td>مهندسی برق دانشگاه صنعتی شریف</td>
                            </tr>
                            <tr>
                                <th>امیرعباس رفیعیان</th>
                                <td>مهندسی برق دانشگاه صنعتی شریف</td>
                            </tr>
                            <tr>
                                <th>کسری امانی</th>
                                <td>مهندسی برق دانشگاه صنعتی شریف</td>
                            </tr>
                            <tr>
                                <th>دانیال رحیمی</th>
                                <td>فیزیک دانشگاه صنعتی شریف</td>
                            </tr>
                            <tr>
                                <th>امیررضا مولایی</th>
                                <td>مهندسی مکانیک دانشگاه صنعتی شریف</td>
                            </tr>
                            <tr>
                                <th>محمد حسینی</th>
                                <td>مهندسی برق دانشگاه صنعتی شریف</td>
                            </tr>



                            <tr>
                                <th>محمدجواد حسین زاده</th>
                                <td>هوافضا دانشگاه صنعتی شریف</td>
                            </tr>
                            <tr>
                                <th>علی شیرانی</th>
                                <td>فیزیک دانشگاه صنعتی شریف</td>
                            </tr>
                            <tr>
                                <th>سروش آتشی</th>
                                <td>مهندسی عمران دانشگاه صنعتی شریف</td>
                            </tr>
                            <tr>
                                <th>سعیده عباسی</th>
                                <td>مهندسی صنایع دانشگاه صنعتی شریف</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <button type="button" class="btn btn-block btn-lg btn-success" data-toggle="modal" data-target="#riazi98">مشاهده همه نتایج</button>

                </div>
            </div>


        </div>

        <div class="col-md-6 col-xs-12">
           <div class="card shadow">
                <div class="card-header">
                    <div class="text-center">
                        <h5>سال ۹۸ - رشته تجربی</h5>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <th>علی سلطانیان</th>
                                <td>دندان پزشکی شهید بهشتی تهران</td>
                            </tr>
                            <tr>
                                <th>علی حامدیان</th>
                                <td>داروسازی شهید بهشتی تهران</td>
                            </tr>
                            <tr>
                                <th>امیرحسین شعربافچی</th>
                                <td>پزشکی تهران</td>
                            </tr>
                            <tr>
                                <th>آرمان ریاحی</th>
                                <td>پزشکی اصفهان</td>
                            </tr>
                            <tr>
                                <th>علی طلایی</th>
                                <td>پزشکی تهران</td>
                            </tr>
                            <tr>
                                <th>حامد قندهاری</th>
                                <td>پزشکی اصفهان</td>
                            </tr>

                             <tr>
                                <th>فائزه مرادی</th>
                                <td>پزشکی اصفهان</td>
                            </tr>
                            <tr>
                                <th>آیدا بهرامی پور</th>
                                <td>داروسازی اصفهان</td>
                            </tr>
                            <tr>
                                <th>نیما شیرانی</th>
                                <td>داروسازی اصفهان</td>
                            </tr>
                            <tr>
                                <th>هدی پورقندی</th>
                                <td>پزشکی کرمان</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <button type="button" class="btn btn-block btn-lg btn-success" data-toggle="modal" data-target="#tajrobi98">مشاهده همه نتایج</button>

                </div>
            </div>
        </div>

    </div>

    <hr class="line" />

    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="card shadow">
                <div class="card-header">
                    <div class="text-center">
                        <h5>سال ۹۶</h5>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <th>پرنا پناهی</th>
                                <td>۱۶ تجربی و ۱۳ زبان</td>
                                <td>پزشکي -دانشگاه علوم پزشکي اصفهان</td>
                            </tr>
                            <tr>
                                <th>رودابه صفوی</th>
                                <td>۸۲ ریاضی</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>پرنیان همتی</th>
                                <td>۱۶۹ ریاضی</td>
                                <td>مهندسي مکانيک-دانشگاه صنعتي</td>
                            </tr>
                            <tr>
                                <th>مهشاد کشتی آراست</th>
                                <td>۲۰۲ ریاضی</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>مریم طالبی</th>
                                <td>۲۱۰ ریاضی</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>عرفان جعفری</th>
                                <td>۲۱۳ تجربی</td>
                                <td> پزشکي -دانشگاه علوم پزشکي اصفهان</td>
                            </tr>



                            <tr>
                                <th>نگار کاظمی پور</th>
                                <td>۳۰۴ ریاضی</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>نیکتا حائری</th>
                                <td>۳۳۹ تجربی</td>
                                <td>پزشکي-دانشگاه علوم پزشکي كاشان</td>
                            </tr>
                            <tr>
                                <th>کیمیا پرتو</th>
                                <td>۴۰۴ تجربی</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>سپیده ثقفی‌فر</th>
                                <td>۵۱۵ ریاضی</td>>
                                <td>مهندسي مواد و متالورژي-دانشگاه صنعتي شريف</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-6 col-xs-12">
           <div class="card shadow">
                <div class="card-header">
                    <div class="text-center">
                        <h5>سال ۹۷</h5>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <th>علی کرمی</th>
                                <td>۳۷۳ تجربی</td>
                                <td>پزشکی دانشگاه اصفهان</td>
                            </tr>
                            <tr>
                                <th>پویا مجملی</th>
                                <td></td>
                                <td>دندانپزشکی دانشگاه شهرکرد</td>
                            </tr>
                            <tr>
                                <th>اشکان کوشان</th>
                                <td></td>
                                <td>پزشکی اراک</td>
                            </tr>
                            <tr>
                                <th>پرتو وحیدا</th>
                                <td></td>
                                <td>پزشکی یزد</td>
                            </tr>
                            <tr>
                                <th>محمدمهدی جراحی</th>
                                <td>۷ ریاضی</td>
                                <td>مهندسی کامپیوتر دانشگاه صنعتی شریف</td>
                            </tr>
                            <tr>
                                <th>محمد کشاورز</th>
                                <td>۱۲۱ ریاضی</td>
                                <td>علوم کامپیوتر دانشگاه صنعتی شریف</td>
                            </tr>

                             <tr>
                                <th>سید علیرضا هاشمی</th>
                                 <td>۵ ریاضی</td>
                                <td>مهندسی برق دانشگاه صنعتی شریف</td>
                            </tr>
                            <tr>
                                <th>ریحانه ولیخانی</th>
                                <td>۵۵۶ ریاضی</td>
                                <td>مهندسی عمران داشنگاه صنعتی شریف</td>
                            </tr>
                            <tr>
                                <th>محمدرضا چهارباغی</th>
                                <td>۴۱۰ ریاضی</td>
                                <td>مهندسی صنایع دانشگاه صنعتی شریف</td>
                            </tr>
                            <tr>
                                <th>آروین بحرینی</th>
                                <td></td>
                                <td>مهندسی عمران دانشگاه صنعتی شریف</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>





<div class="modal fade" id="riazi98" tabindex="-1" role="dialog" aria-labelledby="riazi98Title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="riazi98Title">نتایج ۹۸ - رشته ریاضی</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
                        <table class="table table-hover">
                            <tbody>
                            <tr><td> امیرحسین گل شیرازی
</td><td>مهندسی برق دانشگاه صنعتی شریف
</td></tr>
<tr><td> امیرعباس رفیعیان
</td><td> مهندسی برق دانشگاه صنعتی شریف
</td></tr>
<tr><td>کسری امانی
</td><td> مهندسی برق دانشگاه صنعتی شریف
</td></tr>
<tr><td> دانیال رحیمی
</td><td>فیزیک دانشگاه صنعتی شریف
</td></tr>
<tr><td> امیررضا مولایی
</td><td> مهندسی مکانیک دانشگاه صنعتی شریف
</td></tr>
<tr><td>محمد حسینی
</td><td> مهندسی برق دانشگاه صنعتی شریف
</td></tr>
<tr><td> محمدجواد حسن زاده
</td><td>هوا فضا دانشگاه صنعتی شریف
</td></tr>
<tr><td>علی شیرانی
</td><td>فیزیک دانشگاه صنعتی شریف
</td></tr>
<tr><td> سروش آتشی
</td><td> مهندسی عمران دانشگاه صنعتی شریف
</td></tr>
<tr><td> سعیده عباسی
</td><td> مهندسی صنایع دانشگاه صنعتی شریف
</td></tr>
<tr><td>محمد هنرجو
</td><td>مهندسی کامپیوتر دانشگاه تهران
</td></tr>
<tr><td>محمد امین عروف زاد
</td><td> مهندسی مکانیک دانشگاه تهران
</td></tr>
<tr><td>شایان سجادیه
</td><td>شیمی کاربردی دانشگاه تهران
</td></tr>
<tr><td>مهدی سامع
</td><td> مهندسی مکانیک دانشگاه تهران
</td></tr>
<tr><td>پارسا رئیسی
</td><td>مهندسی صنایع دانشگاه تهران
</td></tr>
<tr><td>محمدحسین جعفری
</td><td> مهندسی صنایع دانشگاه امیرکبیر
</td></tr>
<tr><td> امیرحسین توانگر
</td><td> مهندسی مکانیک دانشگاه امیرکبیر
</td></tr>
<tr><td>نگین جزایری
</td><td> مهندسی کامپیوتر دانشگاه امیرکبیر
</td></tr>
<tr><td> محمدامین قاسمی
</td><td>علوم کامپیوتر دانشگاه امیرکبیر
</td></tr>
<tr><td>شهاب الدین بدیهی
</td><td> مهندسی کامپیوتر دانشگاه صنعتی اصفهان
</td></tr>
<tr><td>محمد کبیری
</td><td>مهندسی برق دانشگاه صنعتی اصفهان
</td></tr>
<tr><td>متین معصوم زاده
</td><td>مهندسی برق دانشگاه صنعتی اصفهان
</td></tr>
<tr><td>محمد افشارپور
</td><td> مهندسی مکانیک دانشگاه صنعتی اصفهان
</td></tr>
<tr><td>آرزو آشوری
</td><td>مهندسی صنایع دانشگاه صنعتی اصفهان
</td></tr>
<tr><td> على ملا حسینی
</td><td>مهندسی کامپیوتر دانشگاه صنعتی اصفهان
</td></tr>
<tr><td>علی رضاییان
</td><td>مهندسی معدن دانشگاه صنعتی اصفهان
</td></tr>
<tr><td>نوید ستاری منش
</td><td>مهندسی برق دانشگاه صنعتی اصفهان
</td></tr>
<tr><td>متین تحویلیان
</td><td>فیزیک دانشگاه صنعتی اصفهان
</td></tr>
<tr><td>امیر قربانیان
</td><td> مهندسی مکانیک دانشگاه صنعتی اصفهان
</td></tr>
<tr><td>محمدحسین داوری
</td><td> مهندسی متالورژی دانشگاه صنعتی اصفهان
</td></tr>
<tr><td>دانیال نایم
</td><td> مهندسی مکانیک دانشگاه صنعتی اصفهان
</td></tr>
<tr><td>علیرضا قریشیان
</td><td> مهندسی مکانیک دانشگاه صنعتی اصفهان
</td></tr>
<tr><td>محمد نصر
</td><td> مهندسی مکانیک دانشگاه صنعتی اصفهان
</td></tr>
<tr><td>على وهابی
</td><td>مهندسی نساجی دانشگاه صنعتی اصفهان
</td></tr>
<tr><td>امیر ارشیا باغبان
</td><td>مهندسی کامپیوتر دانشگاه صنعتی اصفهان
</td></tr>
<tr><td> مهرتاش شیرانی
</td><td> مهندسی مکانیک و بیوسیستم دانشگاه صنعتی اصفهان
</td></tr>
<tr><td>امیررضا کیانی
</td><td>مهندسی کامپیوتر دانشگاه صنعتی اصفهان
</td></tr>
<tr><td>على آهنگرپور
</td><td> مهندسی کامپیوتر دانشگاه صنعتی اصفهان
</td></tr>
<tr><td> محمدامین قاسمی
</td><td> مهندسی کامپیوتر دانشگاه صنعتی اصفهان
</td></tr>
<tr><td>رضا جوانی
</td><td> مهندسی کامپیوتر دانشگاه صنعتی اصفهان
</td></tr>
<tr><td>بهگل پیرزاده
</td><td>مهندسی نساجی دانشگاه صنعتی اصفهان
</td></tr>
<tr><td>مائده قاسمی
</td><td>مهندسی شیمی دانشگاه اصفهان
</td></tr>
<tr><td> متین عسگری
</td><td> ریاضیات و کاربردها دانشگاه اصفهان
</td></tr>
<tr><td> على امان اللهی
</td><td>حسابداری دانشگاه اصفهان
</td></tr>
<tr><td>عارف حمصيان
</td><td>فیزیک دانشگاه اصفهان
</td></tr>
<tr><td>امیر مهردادی
</td><td> مهندسی معماری دانشگاه اصفهان
</td></tr>
<tr><td>سروش جانثاری
</td><td> مهندسی عمران دانشگاه اصفهان
</td></tr>
<tr><td>یاسمن تقیان
</td><td>هوافضا دانشگاه اصفهان
</td></tr>
<tr><td>سارا شاه طوسی
</td><td> مهندسی کامپیوتر دانشگاه اصفهان
</td></tr>
<tr><td>ملیکا راسخ
</td><td>آموزش زبان فرهنگیان
</td></tr>
<tr><td>آریا شیراسماعیلی
</td><td>مهندسی مواد و متالورژی یاسوج
</td></tr>
<tr><td>زهرا شهبازی
</td><td>مهندسی صنایع گلپایگان
</td></tr>
<tr><td> امیرحسین مختاری
</td><td> مهندسی مواد و متالورژی کاشان
</td></tr>
<tr><td>جواد اشرفی
</td><td>مهندسی مکانیک یزد
</td></tr>
<tr><td>معین ناظم
</td><td>مهندسی برق تربت حیدریه
</td></tr>
<tr><td> احسان اکبری
</td><td>مهندسی معماری یزد
</td></tr>
<tr><td> آرمان رستمی
</td><td>مهندسی برق زنجان
</td></tr>
<tr><td>غزل مهره کش
</td><td>مهندسی صنایع کاشان
</td></tr>
<tr><td>سعید علوی
</td><td> مهندسی صنایع کاشان
</td></tr>
<tr><td>مبینا شروانی
</td><td>زبان روزانه تهران
</td></tr>
<tr><td>صدرا سیدی
</td><td>مهندسی کامپیوتر شهرکرد
</td></tr>
<tr><td> اسما نادری
</td><td> مهندسی مواد و متالورژی
</td></tr>
<tr><td>شکیبا فتوحی
</td><td> مهندسی کامپیوتر کاشان
</td></tr>
<tr><td>محمدامین ملایی
</td><td> مهندسی کامپیوتر یزد
</td></tr>
<tr><td>نوید عمادزاده
</td><td>مهندسی مکانیک یزد
</td></tr>
<tr><td>علی بهرامی
</td><td> مهندسی کامپیوتر کاشان
</td></tr>
<tr><td> یحیی صادقی
</td><td> مهندسی کامپیوتر شهرضا
</td></tr>
<tr><td>على مقراض گرا
</td><td>مهندسی مکانیک کاشان
</td></tr>
<tr><td>طنین میرزا باقریان</td><td> فیزیک مهندسی کاشان</td></tr>


                            </tbody>
                        </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="tajrobi98" tabindex="-1" role="dialog" aria-labelledby="tajrobi98Title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="riazi98Title">نتایج ۹۸ - رشته تجربی</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
                        <table class="table table-hover">
                            <tbody>

                            <tr><td>على سلطانیان
</td><td>داندان پزشکی شهید بهشتی تهران
</td></tr>
<tr><td> على حامدیان
</td><td> داروسازی شهید بهشتی تهران
</td></tr>
<tr><td>امیرحسین شعربافچی
</td><td>پزشکی تهران
</td></tr>
<tr><td>آرمان ریاحی
</td><td> پزشکی اصفهان
</td></tr>
<tr><td>على طلایی
</td><td>پزشکی تهران
</td></tr>
<tr><td> حامد قندهاری
</td><td> پزشکی اصفهان
</td></tr>
<tr><td>فائزه مرادی
</td><td> پزشکی اصفهان
</td></tr>
<tr><td> آیدا بهرامی پور
</td><td> داروسازی اصفهان
</td></tr>
<tr><td>نیما شیرانی
</td><td> داروسازی اصفهان
</td></tr>
<tr><td>هدا پورقندی
</td><td>پزشکی کرمان
</td></tr>
<tr><td>ابوالفضل کریمی
</td><td>پزشکی سنندج
</td></tr>
<tr><td>رویا صباغ
</td><td> دندان پزشکی شیراز
</td></tr>
<tr><td>محمد ناظمی
</td><td>پزشکی کاشان
</td></tr>
<tr><td>سحر باقری
</td><td>پزشکی اراک
</td></tr>
<tr><td>زهرا محمدی
</td><td> دندان پزشکی همدان
</td></tr>
<tr><td>فرزاد رفیعی
</td><td> دندان پزشکی شهرکرد
</td></tr>
<tr><td> سروناز سخنوری
</td><td> پزشکی شهرکرد
</td></tr>
<tr><td>حمیده فدایی
</td><td>پزشکی کرمان
</td></tr>
<tr><td> نگین کاظمی
</td><td> پزشکی خرم آباد
</td></tr>
<tr><td> نسرین سیچانی
</td><td> دندان پزشکی همدان
</td></tr>
<tr><td>نوید پورحیدری
</td><td>پزشکی یاسوج
</td></tr>
<tr><td>بهار نصر
</td><td>پزشکی یاسوج
</td></tr>
<tr><td> نگین میرباقری
</td><td> داروسازی بندرعباس
</td></tr>
<tr><td> فرزانه آ داوودی
</td><td>هوشبری اصفهان
</td></tr>
<tr><td> بهار ملانوروزی
</td><td> شنوایی سنجی اصفهان
</td></tr>
<tr><td>محمدجواد حسینی
</td><td>فیزوتراپی کرمان
</td></tr>
<tr><td>شقایق کاظم زاده
</td><td> اعضا مصنوعی همدان
</td></tr>
<tr><td> مهدیه کاظمی
</td><td>هوشبری کرمان
</td></tr>
<tr><td>على قیصری
</td><td>کاردرمانی اراک
</td></tr>
<tr><td> بهنام عسگری
</td><td> شنوایی سنجی بندرعباس
</td></tr>
<tr><td>على دادور
</td><td>پرستاری بم
</td></tr>
<tr><td> آناهید مردانی
</td><td> مامایی زنجان
</td></tr>
<tr><td> رویا محمدی
</td><td> پرستاری کاشان
</td></tr>
<tr><td>سعید احمدی
</td><td> پرستاری خوراسگان
</td></tr>
<tr><td>مبینا محمدی</td><td>اتاق عمل یزد
</td></tr>




                            </tbody>
                        </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
      </div>
    </div>
  </div>
</div>

<footer>
<div class="footer" style="margin-top: 3% ; margin-bottom: 0%; padding-top: 2%; background-color: #030329;" >
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <p style="color: gainsboro">
                   تمامی حقوق برای سایت mrshahbazi.ir محفوظ است
                </p>
            </div>
        </div>
    </div>
</div>
    </footer>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
<script src="https://cdn.rtlcss.com/bootstrap/v4.0.0/js/bootstrap.min.js" integrity="sha384-54+cucJ4QbVb99v8dcttx/0JRx4FHMmhOWi4W+xrXpKcsKQodCBwAvu3xxkZAwsH" crossorigin="anonymous"></script>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>




‍‍‍

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script type="text/javascript" src="{% static 'js.js' %}"></script>


<script>
    $(function () {
        $('#myTab li:last-child a').tab('show')
    })
</script>






</body>
</html>

