{% load staticfiles %}
<!DOCTYPE html>
<html  class="no-js" lang="fa" dir="rtl">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.rawgit.com/rastikerdar/vazir-font/v21.0.1/dist/font-face.css" rel="stylesheet" type="text/css" />


    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.0.0/css/bootstrap.min.css" integrity="sha384-P4uhUIGk/q1gaD/NdgkBIl3a6QywJjlsFJFk7SPRdruoGddvRVSwv5qFnvZ73cpz" crossorigin="anonymous">
    <script src="https://cdn.rtlcss.com/bootstrap/v4.0.0/js/bootstrap.min.js" integrity="sha384-54+cucJ4QbVb99v8dcttx/0JRx4FHMmhOWi4W+xrXpKcsKQodCBwAvu3xxkZAwsH" crossorigin="anonymous"></script>


    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script src='https://www.google.com/recaptcha/api.js'></script>

    <link rel="stylesheet" href="/static/style.css">




    <title> مشاوره مهندس شهبازی </title>
</head>
<body>





<!---------END Template------------------>




<div class="bg-img welcome" >
    <div class="container" >

        <div class="row" style="padding-bottom: 20%;">


            <div class="col-12 col-md-7" style="margin-top: 5%;">
                <div class="intro">
                    <h1> سامانه مشاوره مهندس شهبازی</h1>
                    <h4> مدیریت فعالیت دانش آموزان </h4>
                    <ul style="padding: 5%;">
                        <li> ثبت مطالعه روزانه</li>
                        <li> گزارش فعالیت هفتگی  </li>
                        <li>مشاهده و بررسی نتایح آزمون ها</li>
                        <li>...</li>
                    </ul>
                </div>
            </div>

            <div class="col-12 col-md-5 card shadowcard" id="cardlogin" style="margin-top: 5%;" >

                <ul class="nav nav-links nav-tabs nav-fill" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active curvedtopright" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="false">ورود</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link curvedtopleft" id="signup-tab" data-toggle="tab" href="#signup" role="tab" aria-controls="signup" aria-selected="true">ثبت نام</a>
                    </li>


                </ul>

                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane " id="signup" role="tabpanel" aria-labelledby="signup-tab">

                            <form id="form-signup">

                                <div class="form-group">
                                    <input name="fullname" type="text" id="fullname" class="form-control" aria-describedby="fullname"  placeholder="نام و نام خانوادگی خود را وارد کنید" required autofocus>
                                </div>

                                <div class="form-group">
                                    <input name="phonenumber" type="text" id="phonenumber" class="form-control" aria-describedby="phonenumber"  placeholder="شماره تلفن همراه خود را وارد کنید" required autofocus pattern="09[0-9]{9}" maxlength="12">
                                    <small id="phonenumberhelp" class="form-text text-muted">شماره تلفن همراه باید به فرمت 09xxxxxxxxx باشد</small>
                                </div>


                                <div class="form-group">
                                    <input name="parentphonenumber" type="text" id="parentphonenumber" class="form-control" aria-describedby="phonenumber"  placeholder="شماره تلفن همراه والدین خود را وارد کنید" required autofocus pattern="09[0-9]{9}" maxlength="12">
                                    <small id="parentphonenumberhelp" class="form-text text-muted">شماره تلفن همراه باید به فرمت 09xxxxxxxxx باشد</small>
                                </div>

                                <div class="form-group input-group mb-3">

                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="inputGroupSelect01">مقطع و رشته تحصیلی</label>
                                    </div>

                                    <select name="grade" class="custom-select" id="inputGroupSelect01">
                                        <option selected>انتخاب کنید...</option>
                                        <option value="10r">دهم ریاضی</option>
                                        <option value="10t">دهم تجربی</option>
                                        <option value="10e">دهم انسانی</option>

                                        <option value="11r">یازدهم ریاضی</option>
                                        <option value="11t">یازدهم تجربی</option>
                                        <option value="11e">یازدهم انسانی</option>

                                        <option value="12r">دوازدهم ریاضی</option>
                                        <option value="12t">دوازدهم تجربی</option>
                                        <option value="12e">دوازدهم انسانی</option>
                                    </select>
                                </div>





                                <div class="form-group">
                                    <input name="password" type="password" onkeyup='check();' id="password" class="form-control" placeholder="گذرواژه خود را وارد کنید" required>
                                </div>

                                <div class="form-group">
                                    <input type="password" onkeyup='check();' id="againpassword" class="form-control" placeholder="گذرواژه خود را مجددا وارد کنید" required>
                                </div>

                                <div class="form-group"><div class="g-recaptcha" data-sitekey="6LeaTUQUAAAAAM-Bp5PDrcUxwELmEV0NhChpGJfQ"></div> </div>

                                <button id="regbutton" class="btn   btn-sm btn-primary btn-block" type="submit" id="load" data-loading-text="<i class='fa fa-spinner fa-spin '></i> در حال ثبت نام">ثبت نام</button>
                            </form>

                        </div>
                        <div class="tab-pane active" id="login" role="tabpanel" aria-labelledby="login-tab">
                            <form id="form-signin">
                                <div class="form-group">
                                    <label for="usernamelogin" >شماره تلفن همراه</label>
                                    <input name="username" type="text" id="usernamelogin" class="form-control" aria-describedby="inputUsername" placeholder="شماره تلفن همراه خود را وارد کنید" required autofocus>
                                    <small id="emailHelp" class="form-text text-muted">شماره تلفن همراه شما در سایت قابل مشاهده نیست!</small>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword" >گذرواژه</label>
                                    <input name="password" type="password" id="inputPassword" class="form-control" placeholder="گذرواژه خود را وارد کنید" required>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="remember-me"> مرا به خاطرت نگه دار!
                                    </label>
                                </div>


                                <button class="btn  btn-sm btn-success btn-block" type="submit">ورود</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">

        </div>
    </div>

</div>


<div class="container-fluid" style="background-color:gainsboro">
    <div class="row">

        <div class="col-md-3"></div>

        <div class="col-md-6 col-xs-12">

            <div class="card resume" >
                <div class="card-body">
                    <div class="text-center">
                        <img src="/static/images/shahbazi.jpg"  class="img-thumbnail mx-auto d-block" style="width: 25% ; border-radius: 50%;">
                        <h4 style="padding-top: 4%;">مهندس پیمان شهبازی</h4>
                    </div>
                    <hr class="line" />
                    <div class="row">
                        <div class="col-12">
                            <div class="card bg-card" >
                                <div class="card-body">
                                    <div class="text-center">
                                        <h5>ارتباط با مهندس شهبازی</h5>
                                    </div>
                                    <div class="row" style="padding-top: 3%;">
                                        <div class="col">
                                            <div class="text-center">
                                                <p>کانال تلگرامی</p>
                                                <p>‌<a href="https://t.me/peyman_shahbazi_20"><i class="fa fa-telegram fa-lg"> </i></a></p>
                                            </div>
                                        </div>

                                        <div class="col">
                                            <div class="text-center">
                                                <p>مدیر برنامه</p>
                                                <p>‌<a href="tel:+989057806106"><i class="fa fa-phone fa-lg"> </i></a></p>
                                            </div>
                                        </div>

                                        <div class="col">
                                            <div class="text-center">
                                                <p>ادمین کانال</p>
                                                <p>‌<a href="https://t.me/peyman_shahbazi2"><i class="fa fa-envelope fa-lg"> </i></a></p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="line" />


                    <div class="row">
                        <div class="col-12">
                            <i class="fa fa-trophy fa-lg"></i><b>  دستاورد ها</b>
                            <ul>
                                <li>رتبه ۲۶ کنکور سراسری ۱۳۸۹</li>
                                <li>رتبه ۹ کنکور کارشناسی ارشد سال ۱۳۹۵</li>
                                <li>مدال طلای مسابقات جهانی ریاضی بلغارستان ۲۰۱۵</li>
                                <li>دو مدال نقره ی مسابقات کشوری ریاضی در سال ۹۲ و ۹۳</li>
                            </ul>

                            <i class="fa fa-graduation-cap fa-lg"></i><b>   تحصیلات </b>
                            <ul>
                                <li>فارغ التحصیل دبیرستان استعداد های درخشان در سال ۸۹</li>
                                <li>مدرک کارشناسی در رشته ریاضی محض</li>
                                <li>مدرک کارشناسی در رشته برق</li>
                                <li>ورودی دانشگاه صنعتی شریف و فارغ‌التحصیل دانشگاه صنعتی اصفهان </li>
                                <li>مدرک کارشناسی ارشد ریاضیات و کاربرد ها (دانشگاه صنعتی اصفهان) </li>
                                <li>عضو بنیاد ملی نخبگان</li>

                            </ul>


                            <i class="fa fa-calendar-check-o fa-lg"></i><b>   سوابق </b>
                            <ul>
                                <li>شش سال سابقه مشاوره تحصیلی کنکور سراسری رتبه های برتر کشور</li>
                                <li>هفت سال سابقه تدریس در مدارس استعداد های درخشان و دیگر مدارس برتر استان</li>


                            </ul>

                        </div>


                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="col-md-3"></div>

</div>

<div class="container-fluid">
    <div class="row" style="padding-top: 3%;">
        <div class="col-12">
            <div class="text-center">
                <h3>نتایج سال های گذشته</h3>
            </div>
            <hr class="line" />
        </div>

    </div>

    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="card shadow">
                <div class="card-header">
                    <div class="text-center">
                        <h5>سال ۹۶</h5>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <th>پرنا پناهی</th>
                                <td>۱۶ تجربی و ۱۳ زبان</td>
                            </tr>
                            <tr>
                                <th>رودابه صفوی</th>
                                <td>۸۲ ریاضی</td>
                            </tr>
                            <tr>
                                <th>پرنیان هستی</th>
                                <td>۱۶۹ ریاضی</td>
                            </tr>
                            <tr>
                                <th>مهشاد کشتی آراست</th>
                                <td>۲۰۲ ریاضی</td>
                            </tr>
                            <tr>
                                <th>مریم طالبی</th>
                                <td>۲۱۰ ریاضی</td>
                            </tr>
                            <tr>
                                <th>عرفان جعفری</th>
                                <td>۲۱۳ تجربی</td>
                            </tr>



                            <tr>
                                <th>نگار کاظمی پور</th>
                                <td>۳۰۴ ریاضی</td>
                            </tr>
                            <tr>
                                <th>نیکتا حائری</th>
                                <td>۳۳۹ تجربی</td>
                            </tr>
                            <tr>
                                <th>کیمیا پرتو</th>
                                <td>۴۰۴ تجربی</td>
                            </tr>
                            <tr>
                                <th>سپیده ثقفی‌فر</th>
                                <td>۵۱۵ ریاضی</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-6 col-xs-12">
           <div class="card shadow">
                <div class="card-header">
                    <div class="text-center">
                        <h5>سال ۹۷</h5>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <th>علی کرمی</th>
                                <td>پزشکی داشنگاه اصفهان</td>
                            </tr>
                            <tr>
                                <th>پویا مجملی</th>
                                <td>دندانپزشکی دانشگاه شهرکرد</td>
                            </tr>
                            <tr>
                                <th>اشکان کوشان</th>
                                <td>پزشکی اراک</td>
                            </tr>
                            <tr>
                                <th>پرتو وحیدا</th>
                                <td>پزشکی یزد</td>
                            </tr>
                            <tr>
                                <th>محمدمهدی جراحی</th>
                                <td>مهندسی کامپیوتر دانشگاه صنعتی شریف</td>
                            </tr>
                            <tr>
                                <th>محمد کشاورز</th>
                                <td>علوم کامپیوتر دانشگاه صنعتی شریف</td>
                            </tr>

                             <tr>
                                <th>سید علیرضا هاشمی</th>
                                <td>مهندسی برق دانشگاه صنعتی شریف</td>
                            </tr>
                            <tr>
                                <th>ریحانه ولیخانی</th>
                                <td>مهندسی عمران داشنگاه صنعتی شریف</td>
                            </tr>
                            <tr>
                                <th>محمدرضا چهارباغی</th>
                                <td>مهندسی صنایع دانشگاه صنعتی شریف</td>
                            </tr>
                            <tr>
                                <th>آروین بحرینی</th>
                                <td>مهندسی عمران دانشگاه صنعتی شریف</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<footer>
<div class="footer" style="margin-top: 3% ; margin-bottom: 0%; padding-top: 2%; background-color: #030329;" >
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <p style="color: gainsboro">
                   تمامی حقوق برای سایت mrshahbazi.ir محفوظ است
                </p>
            </div>
        </div>
    </div>
</div>
    </footer>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
<script src="https://cdn.rtlcss.com/bootstrap/v4.0.0/js/bootstrap.min.js" integrity="sha384-54+cucJ4QbVb99v8dcttx/0JRx4FHMmhOWi4W+xrXpKcsKQodCBwAvu3xxkZAwsH" crossorigin="anonymous"></script>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>




‍‍‍

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script type="text/javascript" src="{% static 'js.js' %}"></script>


<script>
    $(function () {
        $('#myTab li:last-child a').tab('show')
    })
</script>






</body>
</html>

