{% extends "app/base_site_student.html" %}

{% block title %} پنل مدیریت {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="row top_tiles">
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="tile-stats">
            <div class="icon"><i class="fa fa-user"></i></div>
            <div class="count">{{students|length}}</div>
            <h3>تعداد دانش آموزان</h3>
            <p> تعداد کلیه ثبت نام های دانش آموزان در سیستم </p>
          </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="tile-stats">
            <div class="icon"><i class="fa fa-comments-o"></i></div>
            <div class="count">179</div>
            <h3>New Sign ups</h3>
            <p>Lorem ipsum psdea itgum rixt.</p>
          </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="tile-stats">
            <div class="icon"><i class="fa fa-sort-amount-desc"></i></div>
            <div class="count">179</div>
            <h3>New Sign ups</h3>
            <p>Lorem ipsum psdea itgum rixt.</p>
          </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="tile-stats">
            <div class="icon"><i class="fa fa-check-square-o"></i></div>
            <div class="count">179</div>
            <h3>New Sign ups</h3>
            <p>Lorem ipsum psdea itgum rixt.</p>
          </div>
        </div>
      </div>

      <div class="row">



        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>گزارش روزانه</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <p class="text-muted font-13 m-b-30"> گزارش روزانه </p>





              <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">گزارش دیروز - تاریخ : {{ReportYesterdayDay}} {{ReportYesterdayMonth}}</h3>
        </div>
        <div class="panel-body">
          <form class="form-horizontal" method="POST" >
            {% csrf_token %}
            <input type="hidden" name="requestcode" value="True" />
            <input type="hidden" name="next" value="{{ next }}" />
            <input type="hidden" name="yesterday" value="yesterday" />
              <div class="table-responsive">
                  <table id="datatable-responsive1" class="table table-bordered table-striped table-highlight dt-responsive nowrap">
                      <thead>
                      <th>نام درس</th>
                      <th>میزان ساعت مطالعه</th>
                      <th>تعداد تست</th>
                      <th> میزان ساعت مطالعه</th>
                      <th>تعداد تست</th>
                      </thead>
                      <tbody>

                      {% for Task , Done in YesterdayList %}
                      <tr>
                          <td>{{ Task.CourseName.Name }}</td>
          <td>{{ Task.StudyHour }}</td>
          <td>{{ Task.TestNumber }}</td>
          <td> <input type="number" class="form-control" name=readed{{ Task.CourseName.id }}  {% if readonlyYesterday %} readonly value={{ Done.StudyHour}} {% endif %}  /> </td>
          <td><input type="number" class="form-control"  name=test{{ Task.CourseName.id }} {% if readonlyYesterday %} readonly value={{ Done.TestNumber}} {% endif %} /></td>
        </tr>
                      {% endfor %}
      </tbody>
    </table>
  </div>




            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">

                <button type="submit" class="btn btn-default" {% if readonlyYesterday %} disabled {% endif %}>ثبت</button>
              </div>
            </div>
          </form>
        </div>
      </div>









              <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">گزارش امروز - تاریخ : {{ReportDay}} {{ReportMonth}}</h3>
        </div>
        <div class="panel-body">
          <form class="form-horizontal" method="POST">
            {% csrf_token %}
            <input type="hidden" name="requestcode" value="True" />
            <input type="hidden" name="next" value="{{ next }}" />

              <div class="table-responsive">
                  <table id="datatable-responsive" class="table table-bordered table-striped table-highlight dt-responsive nowrap">
                      <thead>
                      <th>نام درس</th>
                      <th>میزان ساعت مطالعه</th>
                      <th>تعداد تست</th>
                      <th> میزان ساعت مطالعه</th>
                      <th>تعداد تست</th>
                      </thead>
                      <tbody>

                      {% for Task , Done in List %}
                      <tr>
                          <td>{{ Task.CourseName.Name }}</td>
          <td>{{ Task.StudyHour }}</td>
          <td>{{ Task.TestNumber }}</td>
          <td> <input type="number" class="form-control" name=readed{{ Task.CourseName.id }}  {% if readonly %} readonly value={{ Done.StudyHour}} {% endif %} step="0.5"  /> </td>
          <td><input type="number" class="form-control"  name=test{{ Task.CourseName.id }} {% if readonly %} readonly value={{ Done.TestNumber}} {% endif %} step="1" /></td>
        </tr>
                      {% endfor %}
      </tbody>
    </table>
  </div>




            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">

                <button type="submit" class="btn btn-default" {% if readonly %} disabled {% endif %}>ثبت</button>
              </div>
            </div>
          </form>
        </div>
      </div>










            </div>
          </div>
        </div>













        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>میزان مطالعه <small> پیشرفت هفتگی</small></h2>
              <div class="filter">
                <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                  <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                  <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="col-md-12 col-sm-12 col-xs-12">

              <canvas id="lineChart11"></canvas>

              </div>



            </div>
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Weekly Summary <small>Activity shares</small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">

              <div class="row" style="border-bottom: 1px solid #E0E0E0; padding-bottom: 5px; margin-bottom: 5px;">
                <div class="col-md-7" style="overflow:hidden;">
                  <span class="sparkline_one" style="height: 160px; padding: 10px 25px;">
                                <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
                            </span>
                  <h4 style="margin:18px">Weekly sales progress</h4>
                </div>

                <div class="col-md-5">
                  <div class="row" style="text-align: center;">
                    <div class="col-md-4">
                      <canvas class="canvasDoughnut" height="110" width="110" style="margin: 5px 10px 10px 0"></canvas>
                      <h4 style="margin:0">Bounce Rates</h4>
                    </div>
                    <div class="col-md-4">
                      <canvas class="canvasDoughnut" height="110" width="110" style="margin: 5px 10px 10px 0"></canvas>
                      <h4 style="margin:0">New Traffic</h4>
                    </div>
                    <div class="col-md-4">
                      <canvas class="canvasDoughnut" height="110" width="110" style="margin: 5px 10px 10px 0"></canvas>
                      <h4 style="margin:0">Device Share</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col-md-4">
          <div class="x_panel">
            <div class="x_title">
              <h2>Top Profiles <small>Sessions</small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <article class="media event">
                <a class="pull-left date">
                  <p class="month">April</p>
                  <p class="day">23</p>
                </a>
                <div class="media-body">
                  <a class="title" href="#">Item One Title</a>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </article>
              <article class="media event">
                <a class="pull-left date">
                  <p class="month">April</p>
                  <p class="day">23</p>
                </a>
                <div class="media-body">
                  <a class="title" href="#">Item Two Title</a>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </article>
              <article class="media event">
                <a class="pull-left date">
                  <p class="month">April</p>
                  <p class="day">23</p>
                </a>
                <div class="media-body">
                  <a class="title" href="#">Item Two Title</a>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </article>
              <article class="media event">
                <a class="pull-left date">
                  <p class="month">April</p>
                  <p class="day">23</p>
                </a>
                <div class="media-body">
                  <a class="title" href="#">Item Two Title</a>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </article>
              <article class="media event">
                <a class="pull-left date">
                  <p class="month">April</p>
                  <p class="day">23</p>
                </a>
                <div class="media-body">
                  <a class="title" href="#">Item Three Title</a>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </article>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="x_panel">
            <div class="x_title">
              <h2>Top Profiles <small>Sessions</small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <article class="media event">
                <a class="pull-left date">
                  <p class="month">April</p>
                  <p class="day">23</p>
                </a>
                <div class="media-body">
                  <a class="title" href="#">Item One Title</a>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </article>
              <article class="media event">
                <a class="pull-left date">
                  <p class="month">April</p>
                  <p class="day">23</p>
                </a>
                <div class="media-body">
                  <a class="title" href="#">Item Two Title</a>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </article>
              <article class="media event">
                <a class="pull-left date">
                  <p class="month">April</p>
                  <p class="day">23</p>
                </a>
                <div class="media-body">
                  <a class="title" href="#">Item Two Title</a>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </article>
              <article class="media event">
                <a class="pull-left date">
                  <p class="month">April</p>
                  <p class="day">23</p>
                </a>
                <div class="media-body">
                  <a class="title" href="#">Item Two Title</a>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </article>
              <article class="media event">
                <a class="pull-left date">
                  <p class="month">April</p>
                  <p class="day">23</p>
                </a>
                <div class="media-body">
                  <a class="title" href="#">Item Three Title</a>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </article>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="x_panel">
            <div class="x_title">
              <h2>Top Profiles <small>Sessions</small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <article class="media event">
                <a class="pull-left date">
                  <p class="month">April</p>
                  <p class="day">23</p>
                </a>
                <div class="media-body">
                  <a class="title" href="#">Item One Title</a>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </article>
              <article class="media event">
                <a class="pull-left date">
                  <p class="month">April</p>
                  <p class="day">23</p>
                </a>
                <div class="media-body">
                  <a class="title" href="#">Item Two Title</a>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </article>
              <article class="media event">
                <a class="pull-left date">
                  <p class="month">April</p>
                  <p class="day">23</p>
                </a>
                <div class="media-body">
                  <a class="title" href="#">Item Two Title</a>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </article>
              <article class="media event">
                <a class="pull-left date">
                  <p class="month">April</p>
                  <p class="day">23</p>
                </a>
                <div class="media-body">
                  <a class="title" href="#">Item Two Title</a>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </article>
              <article class="media event">
                <a class="pull-left date">
                  <p class="month">April</p>
                  <p class="day">23</p>
                </a>
                <div class="media-body">
                  <a class="title" href="#">Item Three Title</a>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <!-- Chart.js -->
  <script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
  <!-- gauge.js -->
  <script src="/static/vendors/gauge.js/dist/gauge.min.js"></script>
  <!-- Skycons -->
  <script src="/static/vendors/skycons/skycons.js"></script>
  <!-- Flot -->
  <script src="/static/vendors/Flot/jquery.flot.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.pie.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.time.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.stack.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.resize.js"></script>
  <!-- Flot plugins -->
  <script src="/static/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
  <script src="/static/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
  <script src="/static/vendors/flot.curvedlines/curvedLines.js"></script>
  <!-- DateJS -->
  <script src="/static/vendors/DateJS/build/date.js"></script>
  <!-- JQVMap -->
  <script src="/static/vendors/jqvmap/dist/jquery.vmap.js"></script>
  <script src="/static/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
  <script src="/static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>

  <!-- Datatables -->
  <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
  <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
  <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
  <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
  <script src="/static/vendors/jszip/dist/jszip.min.js"></script>
  <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
  <script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>

<script>






    /**function gd(year, month, day) {
    return new Date(year, month - 1, day).getTime();
}

  var chart_plot_02_data_reading_weakly = [];
    {% for day in readinglist %}
    chart_plot_02_data_reading_weakly.push([
        {{day.date}}  , {{day.readinghour}}
        ]);
    {% endfor %}


    var chart_plot_02_settings_reading_weakly = {
        grid: {
            show: true,
            aboveData: true,
            color: "#3f3f3f",
            labelMargin: 10,
            axisMargin: 0,
            borderWidth: 0,
            borderColor: null,
            minBorderMargin: 5,
            clickable: true,
            hoverable: true,
            autoHighlight: true,
            mouseActiveRadius: 100
        },
        series: {
            lines: {
                show: true,
                fill: true,
                lineWidth: 2,
                steps: false
            },
            points: {
                show: true,
                radius: 4.5,
                symbol: "circle",
                lineWidth: 3.0
            }
        },
        legend: {
            position: "ne",
            margin: [0, -25],
            noColumns: 0,
            labelBoxBorderColor: null,
            labelFormatter: function(label, series) {
                return label + '&nbsp;&nbsp;';
            },
            width: 40,
            height: 1
        },
        colors: ['#96CA59', '#3F97EB', '#72c380', '#6f7a8a', '#f7cb38', '#5a8022', '#2c7282'],
        shadowSize: 0,
        tooltip: true,
        tooltipOpts: {
            content: "%s: %y.0",
            xDateFormat: "%d/%m",
            shifts: {
                x: -30,
                y: -50
            },
            defaultTheme: false
        },
        yaxis: {
            min: 0
        },
        xaxis: {
            mode: "time",
            minTickSize: [1, "day"],
            timeformat: "%d/%m/%y",
            min: chart_plot_02_data_reading_weakly[0][0],
            max: chart_plot_02_data_reading_weakly[6][0]
        }
    };





        $.plot($("#chart_plot_02_reading_student_weakly"), [{
            label: "مطالعه هفتگی",
            data: chart_plot_02_data_reading_weakly,
            lines: {
                fillColor: "rgba(150, 202, 89, 0.12)"
            },
            points: {
                fillColor: "#fff"
            }
        }], chart_plot_02_settings_reading_weakly);***/



        Chart.defaults.global.legend = {
        enabled: false
    };


    var ctx = document.getElementById("lineChart11");
        var lineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{days}},
                datasets: [{
                    label: "میزان ساعت مطالعه شده",
                    backgroundColor: "rgba(38, 185, 154, 0.31)",
                    borderColor: "rgba(38, 185, 154, 0.7)",
                    pointBorderColor: "rgba(38, 185, 154, 0.7)",
                    pointBackgroundColor: "rgba(38, 185, 154, 0.7)",
                    pointHoverBackgroundColor: "#fff",
                    pointHoverBorderColor: "rgba(220,220,220,1)",
                    pointBorderWidth: 1,
                    data: {{readinghour}}
                }, {
                    label: " میزان ساعتی برنامه درسی ",
                    backgroundColor: "rgba(3, 88, 106, 0.3)",
                    borderColor: "rgba(3, 88, 106, 0.70)",
                    pointBorderColor: "rgba(3, 88, 106, 0.70)",
                    pointBackgroundColor: "rgba(3, 88, 106, 0.70)",
                    pointHoverBackgroundColor: "#fff",
                    pointHoverBorderColor: "rgba(151,187,205,1)",
                    pointBorderWidth: 1,
                    data: {{todosHours}}
                }]
            },
        });





</script>

{% endblock javascripts %}
